   html {
        font-family: SoDoSans,
        Helvetica Neue,
        Helvetica,
        Arial,
        sans-serif;
        overflow-x: hidden;
    }

    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }


    header{
      display:flex;
      justify-content:flex-start;
      position: relative;
      align-items:center;
      height: 14vh;
      box-shadow: 0 1px 3px rgb(0 0 0 / 10%),
      0 2px 2px rgb(0 0 0 / 6%),
      0 0 2px rgb(0 0 0 / 7%);
    }
    .logo{
      height: 51px;
      width: 51px;
      margin-left:40px ;
    }

    .logo-cta{
      height:100%;
    }

    ul {
      display:flex;
      margin-left: 40px ;
    }
    li {
      list-style-type: none;
    }
     
    .demo{
      text-decoration:none;
      text-transform:uppercase;
      padding-right: 30px;
      padding-top: 4rem;
      padding-bottom:4rem;
      font-size: 14px;
      font-weight: 700;
      color: rgba(0,0,0,0.87);
      letter-spacing: 1.2px;
      cursor: pointer;
    }

    .demo:hover{
     color: #008248;
    }

    .store{
      margin-left:700px;
      display:flex;
      align-items:center;
      cursor: pointer;;
    }
     .store:hover {
       color: #008248;   
     }


    .loc{
      height: 18px;
      padding-right: 12px;
    }
    .find-store{
      font-size:16px;
      padding-top: 4rem;
      padding-bottom:4rem;
      font-weight: 500;
      padding-left:4px;
    }
    .btn{
      display:flex;
      margin-left: 34px;
      font-size: 12px;
      font-weight:800;
      align-items:center;
      justify-content: center;
     
    }
    .join-now{
      display:grid;
      place-content: center;     
      height: 20px;
      width: 95px;
      margin-left:24px;
      border: 2px solid #fff;
      border-radius: 26px;
      padding:16px;
      color: white;
      background-color: #000;
       cursor: pointer;
    }

     .join-now:hover{
           background-color: rgba(0, 0, 0, .7);
     }

    .sign-in{
      display:grid;
      place-content: center;
      height: 20px;
      width: 84px;
      border: 1px solid #000;
      padding:16px;
      border-radius: 32px;
      cursor: pointer;
    }

   .sign-in:hover{
      background-color: rgb(0,0,0,0.06);
    }


 